<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :weight %>
    <%= form.text_field :weight, :required => true,:placeholder =>"Enter weight in lbs",:pattern => '^([1-5]?[1-9]?[0-9](\.[0-9]+)?|[0]+\.[0-9]*[1-9][0-9]*)',:title =>"Weight has to be [0-599]" %>
  </div>
  <div  class="form-group">
    <%= form.label :height_in_feet %>
    <%= form.text_field :height_in_feet,:required => true,:placeholder =>"Enter height in ft[1-9]", :pattern => '([1-9])',:title=>"Height in feet has to be integer [1-9]" %>
  </div>
  <div class="form-group">
    <%= form.label :height_in_inches %>
    <%= form.text_field :height_in_inches,:required => true,:placeholder =>"Enter height in inches",:pattern => '([1-9]|1[01])',:title=>"Height in inches has to be [1-11]" %>
  </div>
  <div>
    <%= form.submit "Guess my favorite animal"  %>
  </div>
<% end %>