<%= form_with url: "people_controller/confirmation" do |form| %>
  <div class="container">
    <div class="jumbotron">
      <h1>Please confirm</h1>
      <p>
        Someone with <%= @person.weight%> lbs, <%= @person.height_in_feet%> <%= @person.height_in_feet> 1 ? "feet" : "foot" %> and <%= @person.height_in_inches %> <%= @person.height_in_inches > 1? "inches": "inch"%>
        prefers <%= @closestUser[0].animal %>  
      </p>
  </div>
</div>
<div class ="container">
 <h3>Am i correct?<h3>
 <div class="row">
  <div class="btn-group">
    <%=button_to "Yes", 
      "people_controller/confirmation",
      method: :post, params: {id: @person.id, value: "Yes",height_in_feet: @person.height_in_feet,
      height_in_inches: @person.height_in_inches, animal: @closestUser[0].animal, weight: @person.weight, isCache:@closestUser[1], isStorage:@closestUser[2] }
    %><br>
    <%=button_to "No",
      "people_controller/confirmation",
      method: :post, params: {value: "No",height_in_feet: @person.height_in_feet,
      height_in_inches: @person.height_in_inches, animal: @closestUser[0].animal, weight: @person.weight,isCache:@closestUser[1], isStorage:@closestUser[2]}
    %>
  </div>
</div>
  <% end %>
 
