
<% if !notice.nil?%>
<div class="alert alert-info" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<%end%>
<div class="container">
  <div class="jumbotron">
  <h1>Welcome to a guessing game</h1>

    <p>This game will try to guess your favorite animal(Dog/Cat) based on your weight and height</p>
  </div>
  </div>
  <div class="container">
<h2> Instructions: </h2>
<ul>
    <li>Please enter weight in lbs</li>
    <li>Please enter your height</li>
    <li>Please click on guess my favorite animal</li>
    <li>Please confirm if the guess was correct</li>
</ul> 


<%= render 'form', person: @person %>

</div>
<% if false %>
<% link_to 'Back', people_path  %>
<table>
  <thead>
    <tr>
      <th>Height in inches</th>
      <th>Height in feet</th>
      <th>Weight</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.height_in_inches %></td>
        <td><%= person.height_in_feet %></td>
        <td><%= person.weight %></td>
        <td><%= person.animal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
